In [49]:
import pandas as pd

In [50]:
df_historical_data = pd.read_csv('america_worldcup_historical_data.csv')
df_fixture = pd.read_csv('america_worldcup_fixture.csv')
df_missing_data = pd.read_csv('america_worldcup_missing_data.csv')

# Limpieza df_2024

In [51]:
df_fixture['Home'] = df_fixture['Home'].str.strip()
df_fixture['Away'] = df_fixture['Away'].str.strip()

# Limpieza df_faltante

In [52]:
df_missing_data.dropna(inplace=True)
df_historical_data = pd.concat([df_historical_data, df_missing_data], ignore_index=True)
df_historical_data.drop_duplicates(inplace=True)
df_historical_data.sort_values('year', inplace=True)
df_historical_data

           Home        Away Score  year
0    Venezuela       Brazil   0–4  1975
1    Venezuela    Argentina   1–5  1975
434       Peru        Chile   3–1  1975
445   Colombia         Peru   1–0  1975
423  Venezuela       Brazil   0–4  1975
..          ...         ...   ...   ...
418  Argentina      Ecuador   3–0  2021
419     Brazil         Peru   1–0  2021
420  Argentina     Colombia   1–1  2021
421   Colombia         Peru   3–2  2021
422  Argentina       Brazil   1–0  2021

[882 rows x 4 columns]

# Limpieza df_data_historica

In [53]:

df_historical_data['Score'] = df_historical_data['Score'].str.replace('–', '-')
df_historical_data["Score"] = df_historical_data['Score'].str.replace(r'[^\d -]', '', regex=True)
df_historical_data = df_historical_data.drop(651)
df_historical_data = df_historical_data.drop(228)
df_historical_data['Home'] = df_historical_data['Home'].str.strip()
df_historical_data['Away'] = df_historical_data['Away'].str.strip()

In [54]:
df_historical_data

          Home       Away Score  year
0    Venezuela     Brazil   0-4  1975
1    Venezuela  Argentina   1-5  1975
434       Peru      Chile   3-1  1975
445   Colombia       Peru   1-0  1975
423  Venezuela     Brazil   0-4  1975
..         ...        ...   ...   ...
418  Argentina    Ecuador   3-0  2021
419     Brazil       Peru   1-0  2021
420  Argentina   Colombia   1-1  2021
421   Colombia       Peru   3-2  2021
422  Argentina     Brazil   1-0  2021

[880 rows x 4 columns]

In [55]:
mask = df_historical_data['Score'].str.count('–') == 1

In [56]:

df_historical_data.loc[mask, ['HomeGoals', 'AwayGoals']] = df_historical_data.loc[mask, 'Score'].str.split('–', expand=True)

In [57]:
df_historical_data

          Home       Away Score  year  HomeGoals  AwayGoals
0    Venezuela     Brazil   0-4  1975        NaN        NaN
1    Venezuela  Argentina   1-5  1975        NaN        NaN
434       Peru      Chile   3-1  1975        NaN        NaN
445   Colombia       Peru   1-0  1975        NaN        NaN
423  Venezuela     Brazil   0-4  1975        NaN        NaN
..         ...        ...   ...   ...        ...        ...
418  Argentina    Ecuador   3-0  2021        NaN        NaN
419     Brazil       Peru   1-0  2021        NaN        NaN
420  Argentina   Colombia   1-1  2021        NaN        NaN
421   Colombia       Peru   3-2  2021        NaN        NaN
422  Argentina     Brazil   1-0  2021        NaN        NaN

[880 rows x 6 columns]

In [58]:
df_historical_data[['HomeGoals', 'AwayGoals']] = df_historical_data['Score'].str.split('-', expand=True)
df_historical_data

          Home       Away Score  year HomeGoals AwayGoals
0    Venezuela     Brazil   0-4  1975         0         4
1    Venezuela  Argentina   1-5  1975         1         5
434       Peru      Chile   3-1  1975         3         1
445   Colombia       Peru   1-0  1975         1         0
423  Venezuela     Brazil   0-4  1975         0         4
..         ...        ...   ...   ...       ...       ...
418  Argentina    Ecuador   3-0  2021         3         0
419     Brazil       Peru   1-0  2021         1         0
420  Argentina   Colombia   1-1  2021         1         1
421   Colombia       Peru   3-2  2021         3         2
422  Argentina     Brazil   1-0  2021         1         0

[880 rows x 6 columns]

In [59]:
df_historical_data.drop(columns=['Score'], axis=1, inplace=True)

In [60]:
df_historical_data.rename(columns={"year": "Year"}, inplace=True)

In [61]:
df_historical_data

          Home       Away  Year HomeGoals AwayGoals
0    Venezuela     Brazil  1975         0         4
1    Venezuela  Argentina  1975         1         5
434       Peru      Chile  1975         3         1
445   Colombia       Peru  1975         1         0
423  Venezuela     Brazil  1975         0         4
..         ...        ...   ...       ...       ...
418  Argentina    Ecuador  2021         3         0
419     Brazil       Peru  2021         1         0
420  Argentina   Colombia  2021         1         1
421   Colombia       Peru  2021         3         2
422  Argentina     Brazil  2021         1         0

[880 rows x 5 columns]

In [62]:
df_historical_data.dtypes

Home         object
Away         object
Year          int64
HomeGoals    object
AwayGoals    object
dtype: object

In [63]:
df_historical_data = df_historical_data.astype({"Year": int, "HomeGoals": int, "AwayGoals": int})

In [64]:
df_historical_data["TotalGoals"] = df_historical_data['HomeGoals'] + df_historical_data['AwayGoals'] 
df_historical_data['Home'].str.strip()
df_historical_data['Away'].str.strip()

0         Brazil
1      Argentina
434        Chile
445         Peru
423       Brazil
         ...
418      Ecuador
419         Peru
420     Colombia
421         Peru
422       Brazil
Name: Away, Length: 880, dtype: object

In [65]:
df_historical_data.to_csv('clean_america_worldcup_matches.csv',index=False)
df_fixture.to_csv('clean_america_worldcup_fixture.csv',index=False)