In [194]:
import pandas as pd

In [212]:
df_data_historica = pd.read_csv("copaAmerica_historical.csv")
df_2024 = pd.read_csv("2024.csv")
df_faltante = pd.read_csv("copaAmerica_historical_faltante.csv")

# Limpieza df_2024

In [213]:
df_2024['Home'] = df_2024['Home'].str.strip()
df_2024['Away'] = df_2024['Away'].str.strip()

# Limpieza df_faltante

In [214]:
df_faltante.dropna(inplace=True)

In [215]:
df_data_historica = pd.concat([df_data_historica, df_faltante], ignore_index=True)
df_data_historica.drop_duplicates(inplace=True)
df_data_historica

           Home        Away Score  year
0    Venezuela       Brazil   0–4  1975
1    Venezuela    Argentina   1–5  1975
2       Brazil    Argentina   2–1  1975
3    Argentina    Venezuela  11–0  1975
4       Brazil    Venezuela   6–0  1975
..          ...         ...   ...   ...
877  Argentina      Ecuador   3–0  2021
878     Brazil         Peru   1–0  2021
879  Argentina     Colombia   1–1  2021
880   Colombia         Peru   3–2  2021
881  Argentina       Brazil   1–0  2021

[882 rows x 4 columns]

# Limpieza df_data_historica

In [217]:

df_data_historica['Score'] = df_data_historica['Score'].str.replace('–', '-')
df_data_historica["Score"] = df_data_historica['Score'].str.replace(r'[^\d -]', '', regex=True)
df_data_historica = df_data_historica.drop(228)
df_data_historica = df_data_historica.drop(687)

In [219]:
df_data_historica[["HomeGoals", "AwayGoals"]] = df_data_historica['Score'].str.split('-', expand=True)

In [220]:
df_data_historica.drop(columns=['Score'], axis=1, inplace=True)

In [221]:
df_data_historica.rename(columns={"year": "Year"}, inplace=True)

In [222]:
df_data_historica

           Home        Away  Year HomeGoals AwayGoals
0    Venezuela       Brazil  1975         0         4
1    Venezuela    Argentina  1975         1         5
2       Brazil    Argentina  1975         2         1
3    Argentina    Venezuela  1975        11         0
4       Brazil    Venezuela  1975         6         0
..          ...         ...   ...       ...       ...
877  Argentina      Ecuador  2021         3         0
878     Brazil         Peru  2021         1         0
879  Argentina     Colombia  2021         1         1
880   Colombia         Peru  2021         3         2
881  Argentina       Brazil  2021         1         0

[880 rows x 5 columns]

In [223]:
df_data_historica.dtypes

Home         object
Away         object
Year          int64
HomeGoals    object
AwayGoals    object
dtype: object

In [224]:
df_data_historica = df_data_historica.astype({"Year": int, "HomeGoals": int, "AwayGoals": int})

In [229]:
df_data_historica["TotalGoals"] = df_data_historica['HomeGoals'] + df_data_historica['AwayGoals'] 
df_data_historica['Home'].str.strip()
df_data_historica['Away'].str.strip()

0         Brazil
1      Argentina
2      Argentina
3      Venezuela
4      Venezuela
         ...
877      Ecuador
878         Peru
879     Colombia
880         Peru
881       Brazil
Name: Away, Length: 880, dtype: object

In [230]:
df_data_historica.to_csv("df_data_historica_clean.csv", index=False)
df_2024.to_csv("df_2024_clean.csv", index=False)