In [1]:
import pandas as pd
import pickle
from string import ascii_uppercase as alphabet

In [5]:
tablas_totales = pd.read_html("https://web.archive.org/web/20240617090802/https://en.wikipedia.org/wiki/2024_Copa_Am%C3%A9rica")

In [6]:
Equipos = [22, 29, 36, 43]

tablas_totales[22] # tabla 7, 14, 21, 28 // Con 5 son todos los equipos

   Pos    Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1     Mexico    0  0  0  0   0   0   0    0  Advance to knockout stage
1    2    Ecuador    0  0  0  0   0   0   0    0  Advance to knockout stage
2    3  Venezuela    0  0  0  0   0   0   0    0                        NaN
3    4    Jamaica    0  0  0  0   0   0   0    0                        NaN

In [9]:
all_tables = pd.read_html("https://web.archive.org/web/20240617090802/https://en.wikipedia.org/wiki/2024_Copa_Am%C3%A9rica")

In [10]:
for i in range(22, 44, 7):
    print(i)
    df = all_tables[i]
    df.rename(columns={df.columns[1]:'Team'}, inplace=True)
    df.pop('Qualification')

22
29
36
43

KeyError: 'Qualification'

In [11]:
all_tables

[      0     1     2
 0   May   JUN   Jul
 1   NaN    17   NaN
 2  2023  2024  2025,
                                                    0  \
 0  Vibra el Continente (Vibra o Continente) Engli...
 1                                 Tournament details
 2                                       Host country
 3                                              Dates
 4                                              Teams
 5                                           Venue(s)
 6                              Tournament statistics
 7                                         Attendance
 8                                      ← 2021 2028 →

                                                    1
 0  Vibra el Continente (Vibra o Continente) Engli...
 1                                 Tournament details
 2                                      United States
 3                                  June 20 – July 14
 4                         16 (from 2 confederations)
 5                             14 (in 14 host cities)
 6                              Tournament statistics
 7                                                NaN
 8                                      ← 2021 2028 →  ,
                                                     0  \
 0   2024 Copa América venues Arlington, Texas (Dal...
 1           Arlington, Texas (Dallas/Fort Worth area)
 2                                        AT&T Stadium
 3                                    Capacity: 80,000
 4                                                 NaN
 5                           Charlotte, North Carolina
 6                             Bank of America Stadium
 7                                    Capacity: 74,867
 8                                                 NaN
 9            Inglewood, California (Los Angeles area)
 10                                       SoFi Stadium
 11                                   Capacity: 70,240
 12                                                NaN
 13                  Paradise, Nevada (Las Vegas area)
 14                                  Allegiant Stadium
 15                                   Capacity: 61,000
 16                                                NaN
 17                Miami Gardens, Florida (Miami area)
 18                                  Hard Rock Stadium
 19                                   Capacity: 64,767
 20                                                NaN
 21  1 Arlington, TX2 Atlanta, GA3 Austin, TX4 Char...

                                                     1  \
 0   1200km 820miles 14 13 12 11 10 9 8 7 6 5 4 3 2...
 1                                    Atlanta, Georgia
 2                               Mercedes-Benz Stadium
 3                                    Capacity: 71,000
 4                                                 NaN
 5    East Rutherford, New Jersey (New York City area)
 6                                     MetLife Stadium
 7                                    Capacity: 82,566
 8                                                 NaN
 9    Santa Clara, California (San Francisco Bay Area)
 10                                     Levi's Stadium
 11                                   Capacity: 68,500
 12                                                NaN
 13                              Kansas City, Missouri
 14                                  Arrowhead Stadium
 15                                   Capacity: 76,416
 16                                                NaN
 17                                   Orlando, Florida
 18                                   Inter&Co Stadium
 19                                   Capacity: 25,500
 20                                                NaN
 21                                                NaN

                                    2
 0                                NaN
 1                      Austin, Texas
 2                         Q2 Stadium
 3                   Capacity: 20,738
 4                                NaN
 5                     Houston, Texas
 6                        NRG Stadium
 7                   Capacity: 72,220
 8                                NaN
 9   Glendale, Arizona (Phoenix area)
 10                State Farm Stadium
 11                  Capacity: 63,400
 12                               NaN
 13               Kansas City, Kansas
 14             Children's Mercy Park
 15                  Capacity: 18,467
 16                               NaN
 17                  Orlando, Florida
 18                  Inter&Co Stadium
 19                  Capacity: 25,500
 20                               NaN
 21                               NaN  ,
    Arlington, Texas (Dallas/Fort Worth area)  \
 0                               AT&T Stadium
 1                           Capacity: 80,000
 2                                        NaN
 3                  Charlotte, North Carolina
 4                    Bank of America Stadium
 5                           Capacity: 74,867
 6                                        NaN
 7   Inglewood, California (Los Angeles area)
 8                               SoFi Stadium
 9                           Capacity: 70,240
 10                                       NaN
 11         Paradise, Nevada (Las Vegas area)
 12                         Allegiant Stadium
 13                          Capacity: 61,000
 14                                       NaN
 15       Miami Gardens, Florida (Miami area)
 16                         Hard Rock Stadium
 17                          Capacity: 64,767
 18                                       NaN

                                     Atlanta, Georgia  \
 0                              Mercedes-Benz Stadium
 1                                   Capacity: 71,000
 2                                                NaN
 3   East Rutherford, New Jersey (New York City area)
 4                                    MetLife Stadium
 5                                   Capacity: 82,566
 6                                                NaN
 7   Santa Clara, California (San Francisco Bay Area)
 8                                     Levi's Stadium
 9                                   Capacity: 68,500
 10                                               NaN
 11                             Kansas City, Missouri
 12                                 Arrowhead Stadium
 13                                  Capacity: 76,416
 14                                               NaN
 15                                  Orlando, Florida
 16                                  Inter&Co Stadium
 17                                  Capacity: 25,500
 18                                               NaN

                        Austin, Texas
 0                         Q2 Stadium
 1                   Capacity: 20,738
 2                                NaN
 3                     Houston, Texas
 4                        NRG Stadium
 5                   Capacity: 72,220
 6                                NaN
 7   Glendale, Arizona (Phoenix area)
 8                 State Farm Stadium
 9                   Capacity: 63,400
 10                               NaN
 11               Kansas City, Kansas
 12             Children's Mercy Park
 13                  Capacity: 18,467
 14                               NaN
 15                  Orlando, Florida
 16                  Inter&Co Stadium
 17                  Capacity: 25,500
 18                               NaN  ,
                                                    0
 0  1 Arlington, TX2 Atlanta, GA3 Austin, TX4 Char...,
                                  CONMEBOL (10 teams)  \
 0  Argentina (title holders)  Bolivia  Brazil  Ch...

                                   CONCACAF (6 teams)
 0  Jamaica (2023–24 CONCACAF Nations League Final...  ,
                    Team  Rank
 0             Argentina     1
 1                Mexico    14
 2  United States (host)    12
 3                Brazil     5,
        Team  Rank
 0   Uruguay    11
 1  Colombia    15
 2   Ecuador    32
 3      Peru    35,
         Team  Rank
 0      Chile    40
 1     Panama    41
 2  Venezuela    49
 3   Paraguay    53,
             Team  Rank
 0        Jamaica    55
 1        Bolivia    85
 2      Canada[a]    50
 3  Costa Rica[a]    54,
   Pos       Team
 0  A1  Argentina
 1  A2       Peru
 2  A3      Chile
 3  A4     Canada,
   Pos       Team
 0  B1     Mexico
 1  B2    Ecuador
 2  B3  Venezuela
 3  B4    Jamaica,
   Pos           Team
 0  C1  United States
 1  C2        Uruguay
 2  C3         Panama
 3  C4        Bolivia,
   Pos        Team
 0  D1      Brazil
 1  D2    Colombia
 2  D3    Paraguay
 3  D4  Costa Rica,
       Association                                  Referees  \
 0       Argentina                 Dario Herrera Yael Falcón
 1         Bolivia                                Ivo Méndez
 2          Brazil  Wilton Sampaio Raphael Claus Edina Alves
 3           Chile                 Piero Maza Cristián Garay
 4        Colombia                 Wilmar Roldán Jhon Ospina
 5         Ecuador                            Augusto Aragon
 6       Guatemala                             Mario Escobar
 7           Italy                          Maurizio Mariani
 8          Mexico                        César Arturo Ramos
 9       Nicaragua                                       NaN
 10       Paraguay                              Juan Benitez
 11           Peru                              Kevin Ortega
 12    El Salvador                               Iván Barton
 13        Uruguay             Andrés Matonte Gustavo Tejera
 14  United States                  Ismail Elfath Tori Penso
 15      Venezuela           Jesús Valenzuela Alexis Herrera

                                    Assistant referees  \
 0   Juan Belatti Cristian Navarro Facundo Rodrigue...
 1                          José Antelo Edwar Saavedra
 2   Danilo Manis Rodrigo Correa Bruno Boschilia Br...
 3   Claudio Urrutia Miguel Rocha Jose Retamal Juan...
 4   Alexander Guzmán Jhon Leon Jhon Gallego Miguel...
 5                     Cristhian Lescano Ricardo Baren
 6                        Luis Ventura Humberto Panjoj
 7                      Daniele Bindoni Alberto Tegoni
 8                       Alberto Morin Marco Bisguerra
 9                                                 NaN
 10                 Eduardo Cardozo Milciades Saldivar
 11                        Michael Orue Stephen Atoche
 12                           David Moran Henri Pupiro
 13  Nicolás Taran Martin Soppi Carlos Barreiro Pab...
 14  Corey Parker Kyle Atkins Brooke Mayo Kathryn N...
 15  Jorge Urrego Alberto Ponte Lubin Torrealba Mig...

                              Video assistant referees
 0         Mauro Vigliano Silvio Trucco Héctor Paletta
 1                                         Gery Vargas
 2         Rodolpho Toski Daniel Nobre Pablo Goncalves
 3          Juan Lara Rodrigo Carvajal Edson Cisternas
 4           Nicolás Gallo Yadir Acuña David Rodriguez
 5                            Carlos Obre Bryan Loayza
 6                                                 NaN
 7                    Marco Di Bello Aleandro Di Paolo
 8                      Erik Miranda Guillermo Pacheco
 9                                      Tatiana Guzmán
 10            Derlis López Eduardo Britos José Cuevas
 11         Joel Alarcón Jonny Bossio Augusto Menendez
 12                                                NaN
 13  Leodan Gonzalez Richard Trinidad Cristhian Fer...
 14                                 Armando Villarreal
 15                             Juan Soto Carlos Lopez  ,
    Pos    Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
 0    1  Argentina    0  0  0  0   0   0   0    0  Advance to knockout stage
 1    2       Peru    0  0  0  0   0   0   0    0  Advance to knockout stage
 2    3      Chile    0  0  0  0   0   0   0    0                        NaN
 3    4     Canada    0  0  0  0   0   0   0    0                        NaN,
    Argentina            Match 1  Canada
 0        NaN  CONMEBOL CONCACAF     NaN,
    Peru            Match 2  Chile
 0   NaN  CONMEBOL CONCACAF    NaN,
    Peru           Match 10  Canada
 0   NaN  CONMEBOL CONCACAF     NaN,
    Chile            Match 9  Argentina
 0    NaN  CONMEBOL CONCACAF        NaN,
    Argentina           Match 17  Peru
 0        NaN  CONMEBOL CONCACAF   NaN,
    Canada           Match 18  Chile
 0     NaN  CONMEBOL CONCACAF    NaN,
    Pos       Team  Pld  W  D  L  GF  GA  GD  Pts
 0    1     Mexico    0  0  0  0   0   0   0    0
 1    2    Ecuador    0  0  0  0   0   0   0    0
 2    3  Venezuela    0  0  0  0   0   0   0    0
 3    4    Jamaica    0  0  0  0   0   0   0    0,
    Ecuador            Match 4  Venezuela
 0      NaN  CONMEBOL CONCACAF        NaN,
    Mexico            Match 3  Jamaica
 0     NaN  CONMEBOL CONCACAF      NaN,
    Ecuador           Match 12  Jamaica
 0      NaN  CONMEBOL CONCACAF      NaN,
    Venezuela           Match 11  Mexico
 0        NaN  CONMEBOL CONCACAF     NaN,
    Mexico           Match 19  Ecuador
 0     NaN  CONMEBOL CONCACAF      NaN,
    Jamaica           Match 20  Venezuela
 0      NaN  CONMEBOL CONCACAF        NaN,
    Pos               Team  Pld  W  D  L  GF  GA  GD  Pts
 0    1  United States (H)    0  0  0  0   0   0   0    0
 1    2            Uruguay    0  0  0  0   0   0   0    0
 2    3             Panama    0  0  0  0   0   0   0    0
 3    4            Bolivia    0  0  0  0   0   0   0    0,
    United States            Match 5  Bolivia
 0            NaN  CONMEBOL CONCACAF      NaN,
    Uruguay            Match 6  Panama
 0      NaN  CONMEBOL CONCACAF     NaN,
    Panama           Match 13  United States
 0     NaN  CONMEBOL CONCACAF            NaN,
    Uruguay           Match 14  Bolivia
 0      NaN  CONMEBOL CONCACAF      NaN,
    United States           Match 21  Uruguay
 0            NaN  CONMEBOL CONCACAF      NaN,
    Bolivia           Match 22  Panama
 0      NaN  CONMEBOL CONCACAF     NaN,
    Pos        Team  Pld  W  D  L  GF  GA  GD  Pts
 0    1      Brazil    0  0  0  0   0   0   0    0
 1    2    Colombia    0  0  0  0   0   0   0    0
 2    3    Paraguay    0  0  0  0   0   0   0    0
 3    4  Costa Rica    0  0  0  0   0   0   0    0,
    Colombia            Match 8  Paraguay
 0       NaN  CONMEBOL CONCACAF       NaN,
    Brazil            Match 7  Costa Rica
 0     NaN  CONMEBOL CONCACAF         NaN,
    Colombia           Match 16  Costa Rica
 0       NaN  CONMEBOL CONCACAF         NaN,
    Paraguay           Match 15  Brazil
 0       NaN  CONMEBOL CONCACAF     NaN,
    Brazil           Match 23  Colombia
 0     NaN  CONMEBOL CONCACAF       NaN,
    Costa Rica           Match 24  Paraguay
 0         NaN  CONMEBOL CONCACAF       NaN,
      0                    Team                       2   3   4  \
 0  NaN          Quarter-finals          Quarter-finals NaN NaN
 1  NaN                     NaN                     NaN NaN NaN
 2  NaN    July 4 – Houston, TX    July 4 – Houston, TX NaN NaN
 3  NaN    July 4 – Houston, TX    July 4 – Houston, TX NaN NaN
 4  NaN          Winner Group A                     NaN NaN NaN
 5  NaN          Winner Group A                     NaN NaN NaN
 6  NaN       Runner-up Group B                     NaN NaN NaN
 7  NaN       Runner-up Group B                     NaN NaN NaN
 8  NaN  July 5 – Arlington, TX  July 5 – Arlington, TX NaN NaN
 9  NaN  July 5 – Arlington, TX  July 5 – Arlington, TX NaN NaN
 10 NaN          Winner Group B                     NaN NaN NaN
 11 NaN          Winner Group B                     NaN NaN NaN
 12 NaN       Runner-up Group A                     NaN NaN NaN
 13 NaN       Runner-up Group A                     NaN NaN NaN
 14 NaN  July 6 – Las Vegas, NV  July 6 – Las Vegas, NV NaN NaN
 15 NaN  July 6 – Las Vegas, NV  July 6 – Las Vegas, NV NaN NaN
 16 NaN          Winner Group C                     NaN NaN NaN
 17 NaN          Winner Group C                     NaN NaN NaN
 18 NaN       Runner-up Group D                     NaN NaN NaN
 19 NaN       Runner-up Group D                     NaN NaN NaN
 20 NaN   July 6 – Glendale, AZ   July 6 – Glendale, AZ NaN NaN
 21 NaN   July 6 – Glendale, AZ   July 6 – Glendale, AZ NaN NaN
 22 NaN          Winner Group D                     NaN NaN NaN
 23 NaN          Winner Group D                     NaN NaN NaN
 24 NaN       Runner-up Group C                     NaN NaN NaN
 25 NaN       Runner-up Group C                     NaN NaN NaN
 26 NaN                     NaN                     NaN NaN NaN
 27 NaN                     NaN                     NaN NaN NaN
 28 NaN                     NaN                     NaN NaN NaN

                                5                             6   7   8  \
 0                    Semi-finals                   Semi-finals NaN NaN
 1                            NaN                           NaN NaN NaN
 2                            NaN                           NaN NaN NaN
 3                            NaN                           NaN NaN NaN
 4                            NaN                           NaN NaN NaN
 5   July 9 – East Rutherford, NJ  July 9 – East Rutherford, NJ NaN NaN
 6   July 9 – East Rutherford, NJ  July 9 – East Rutherford, NJ NaN NaN
 7                Winner Match 25                           NaN NaN NaN
 8                Winner Match 25                           NaN NaN NaN
 9                Winner Match 26                           NaN NaN NaN
 10               Winner Match 26                           NaN NaN NaN
 11                           NaN                           NaN NaN NaN
 12                           NaN                           NaN NaN NaN
 13                           NaN                           NaN NaN NaN
 14                           NaN                           NaN NaN NaN
 15                           NaN                           NaN NaN NaN
 16                           NaN                           NaN NaN NaN
 17       July 10 – Charlotte, NC       July 10 – Charlotte, NC NaN NaN
 18       July 10 – Charlotte, NC       July 10 – Charlotte, NC NaN NaN
 19               Winner Match 27                           NaN NaN NaN
 20               Winner Match 27                           NaN NaN NaN
 21               Winner Match 28                           NaN NaN NaN
 22               Winner Match 28                           NaN NaN NaN
 23                           NaN                           NaN NaN NaN
 24                           NaN                           NaN NaN NaN
 25                           NaN                           NaN NaN NaN
 26                           NaN                           NaN NaN NaN
 27                           NaN                           NaN NaN NaN
 28                           NaN                           NaN NaN NaN

                               9                           10              11  \
 0                         Final                        Final             NaN
 1                           NaN                          NaN             NaN
 2                           NaN                          NaN             NaN
 3                           NaN                          NaN             NaN
 4                           NaN                          NaN             NaN
 5                           NaN                          NaN             NaN
 6                           NaN                          NaN             NaN
 7                           NaN                          NaN             NaN
 8                           NaN                          NaN             NaN
 9                           NaN                          NaN             NaN
 10                          NaN                          NaN             NaN
 11  July 14 – Miami Gardens, FL  July 14 – Miami Gardens, FL             NaN
 12  July 14 – Miami Gardens, FL  July 14 – Miami Gardens, FL             NaN
 13              Winner Match 29                          NaN             NaN
 14              Winner Match 29                          NaN             NaN

In [4]:
dict_tablas = {}

for letra, i in zip(alfabeto, Equipos):
  df = tablas_totales[i]
  dict_tablas[f"Grupo {letra}"] = df

In [5]:
dict_tablas["Grupo A"]

      Equipo  Pts.  PJ  PG  PE  PP  GF  GC  Dif.
0  Argentina     0   0   0   0   0   0   0     0
1       Perú     0   0   0   0   0   0   0     0
2      Chile     0   0   0   0   0   0   0     0
3     Canadá     0   0   0   0   0   0   0     0

In [6]:
lista = [1975, 1979, 1983, 1987, 1989, 1991, 1993, 1995, 1997, 1999, 2001, 2004, 2007, 2011, 2015, 2016, 2019, 2021, 2024]

In [7]:
# organizar la lista
lista = sorted(lista)
print(lista)

[1975, 1979, 1983, 1987, 1989, 1991, 1993, 1995, 1997, 1999, 2001, 2004, 2007, 2011, 2015, 2016, 2019, 2021, 2024]

In [8]:
!pip install bs4

Collecting bs4
  Obtaining dependency information for bs4 from https://files.pythonhosted.org/packages/51/bb/bf7aab772a159614954d84aa832c129624ba6c32faa559dfb200a534e50b/bs4-0.0.2-py2.py3-none-any.whl.metadata
  Downloading bs4-0.0.2-py2.py3-none-any.whl.metadata (411 bytes)
Requirement already satisfied: beautifulsoup4 in c:\users\hitak\pycharmprojects\pythonproject1\.venv\lib\site-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\hitak\pycharmprojects\pythonproject1\.venv\lib\site-packages (from beautifulsoup4->bs4) (2.5)
Downloading bs4-0.0.2-py2.py3-none-any.whl (1.2 kB)
Installing collected packages: bs4
Successfully installed bs4-0.0.2

[notice] A new release of pip is available: 23.2.1 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
from bs4 import BeautifulSoup
import requests

In [10]:
web = "https://es.wikipedia.org/wiki/Copa_Am%C3%A9rica_2021"
respuesta = requests.get(web)
contenido = respuesta.text

In [11]:
soup = BeautifulSoup(contenido, "lxml")

In [12]:
matches = soup.find_all("table", class_="collapsible autocollapse vevent plainlist mw-collapsible mw-made-collapsible mw-collapsed")

In [14]:
for match in matches:
  print(match.find("td", {"align": "right"}).get_text())
  print(match.find("td", {"align": "center"}).get_text())
  print(match.find("td", {"align": "left"}).get_text())